body {
  font-family: system-ui;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4 {
  color: #836540;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-color: #6a1b6a;
  text-decoration-thickness: 2px;
}

.info-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.info-btn img {
  width: 24px;
  height: 24px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  color: #927f6a;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.close-btn {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#moduleForm input,
#moduleForm select {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-weight: bold;
  color: #927f6a;
}

#moduleForm button {
  width: 100%;
  background-color: #836540;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
